.post {
/*    color: white;*/
    box-shadow: 0 1px 2px #555555;
    background: #c0c0c0;
    padding: 10px;
    margin: 10px 7px;
}

#page-content {
    max-width: 1000px;
    margin: auto;
}